In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from acquire import get_telco_data, get_iris_data, get_titanic_data
from pydataset import data
from sklearn.model_selection import train_test_split
import os

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [ ]:
SELECT
  age, min(coins_needed), w.power
FROM wands w
  JOIN wands_property p ON w.code = p.code
WHERE is_evil = 0
GROUP BY age, w.power
ORDER BY power DESC, age DESC;

In [3]:
df_iris = data('iris')

In [13]:
df_iris.head(3)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [15]:
df_iris.shape

(150, 5)

In [4]:
df_iris.columns.to_list()

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width', 'Species']

In [19]:
df_iris.dtypes

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [5]:
df_iris.describe().T

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

Read the data from this google sheet into a dataframe, df_google.

In [7]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

In [8]:
df_google = pd.read_csv(csv_export_url)

In [77]:
df_google.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [79]:
df_google.shape

(891, 12)

In [9]:
df_google.columns.to_list()

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [10]:
df_google.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [11]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

In [92]:
df_google.dtypes[df_google.dtypes == object]

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [12]:
for i in df_google.columns:
    if df_google[i].dtypes == 'object':
        print(f'{i} has {df_google[i].nunique()} unique values')

Name has 891 unique values
Sex has 2 unique values
Ticket has 681 unique values
Cabin has 147 unique values
Embarked has 3 unique values

In [13]:
df_google[['Name','Sex', 'Ticket', 'Cabin', 'Embarked']].value_counts(dropna=False)

Name                                     Sex     Ticket     Cabin  Embarked
Abbing, Mr. Anthony                      male    C.A. 5547  NaN    S           1
Nysveen, Mr. Johan Hansen                male    345364     NaN    S           1
Nicholson, Mr. Arthur Ernest             male    693        NaN    S           1
Nicola-Yarred, Master. Elias             male    2651       NaN    C           1
Nicola-Yarred, Miss. Jamila              female  2651       NaN    C           1
                                                                              ..
Goodwin, Miss. Lillian Amy               female  CA 2144    NaN    S           1
Goodwin, Mr. Charles Edward              male    CA 2144    NaN    S           1
Goodwin, Mrs. Frederick (Augusta Tyler)  female  CA 2144    NaN    S           1
Graham, Miss. Margaret Edith             female  112053     B42    S           1
van Melkebeke, Mr. Philemon              male    345777     NaN    S           1
Length: 891, dtype: int64

Download the previous exercise's file into an excel (File → Download → Microsoft Excel). Read the downloaded file into a dataframe named df_excel.

In [14]:
file_path = '/Users/aaron/codeup-data-science/classification-exercises/train.xlsx'

In [15]:
df_excel = pd.read_excel(file_path, sheet_name = 'train')

In [13]:
df_excel_sample = df_excel.head(100)

In [16]:
df_excel.shape[0]

891

In [17]:
df_excel.columns[:5]

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [22]:
df_excel.dtypes[df_excel.dtypes == object].index.to_list()

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [18]:
df_excel.select_dtypes(include='object').head()

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S

In [37]:
df_excel.describe().loc[['min', 'max']]

     PassengerId  Survived  Pclass    Age  SibSp  Parch      Fare
min          1.0       0.0     1.0   0.42    0.0    0.0    0.0000
max        891.0       1.0     3.0  80.00    8.0    6.0  512.3292

## Acquire.py info

In [48]:
import env
import os

In [26]:
def get_titanic_data():
    '''
    Arguments: None
    Actions:
        1. Checks for titanic.csv file
        2. If no file, qquery sql database
            2. Requirements: env.py file 
    Returns: 
    This function returns the passengers table from the titanic db. 
    This funcction requires the user to have an env.py file with a 
    function to create a MySQL url without user input from this module.
    '''
    # establish file name for later
    filename = "titanic.csv"
    
    # check to see if the file exists
    if os.path.isfile(filename):
        # if file exists, place in variable df
        df = pd.read_csv(filename, index_col=0)
    
    else:
        
        db = ('titanic_db')
        query = 'SELECT * FROM passengers;'
        url = env.get_db_url(db)
        df = pd.read_sql(query, url)
        df.to_csv(filename)
    return df

In [45]:
db = ('titanic_db')
query = 'SELECT * FROM passengers;'
url = env.get_db_url(db)
pd.read_sql(query, url)

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [38]:
def get_iris_data():
    '''
    This function returns the species table from the iris_db. 
    No arguments are needed for it run
    '''
    filename = 'iris.csv'
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else: 
        db = ('iris_db')
        query = 'SELECT * FROM species JOIN measurements USING (species_id);'
        url = env.get_db_url(db)
        return pd.read_sql(query, url)

In [58]:
def get_telco_data():
    '''
    This function a dataframe containing all the contract, payment, and internet service options for each customer.
    '''
    filename = 'telco.csv'
    
    if os.path.isfile(filename):
        return pd.read_csv(filename)
    else:
        db = 'telco_churn'
        url = env.get_db_url(db)
        query = '''SELECT *
            FROM customers c
            JOIN customer_contracts cc ON c.customer_id = cc.customer_id
            JOIN contract_types ct ON cc.contract_type_id = ct.contract_type_id
            JOIN internet_service_types ist ON c.internet_service_type_id = ist.internet_service_type_id
            JOIN customer_payments cp ON c.customer_id = cp.customer_id
            JOIN payment_types pt ON cp.payment_type_id = pt.payment_type_id;'''
        return pd.read_sql(query, url)

In [66]:
df_iris = get_iris_data()

In [69]:
df_iris.head()

   species_id species_name
0           1       setosa
1           2   versicolor
2           3    virginica

In [67]:
df_titanic = get_titanic_data()

In [70]:
df_titanic.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1

In [59]:
df_telco = get_telco_data()

In [30]:
df_telco.head()

NameError: name 'df_telco' is not defined

# Prepare.py

In [48]:
from sklearn.model_selection import train_test_split
from acquire import get_telco_data, get_iris_data, get_titanic_data
import pandas as pd

In [37]:
df = get_iris_data()

In [38]:
df = df.drop(columns=['species_id', 'measurement_id'])

In [21]:
df = df.rename(columns={'species_name':'species'})

In [23]:
df.head()

  species  sepal_length  sepal_width  petal_length  petal_width
0  setosa           5.1          3.5           1.4          0.2
1  setosa           4.9          3.0           1.4          0.2
2  setosa           4.7          3.2           1.3          0.2
3  setosa           4.6          3.1           1.5          0.2
4  setosa           5.0          3.6           1.4          0.2

In [27]:
df = pd.concat([df, pd.get_dummies(df['species'], drop_first=True)], axis=1)

In [40]:
def prep_iris(df):
    '''
    Arguments: Iris Dataframe
    Actions: 
        1. Drops columns[species_id, measurement_id]
        2. Renames species_name to species
        3. Creates dummies for the species columns
    Returns: iris dataframe with all changes
    '''
    
    # drop column names
    df = df.drop(columns=['species_id', 'measurement_id'])
    
    # rename species_name to species
    df = df.rename(columns={'species_name':'species'})
    
    # creates dummies for the species columns and concatenates the dummy variables to original df
    df = pd.concat([df, pd.get_dummies(df['species'], drop_first=True)], axis=1)
    
    return df

In [44]:
# testing the prep_iris function
prep_iris(get_iris_data())

,species,sepal_length,sepal_width,petal_length,petal_width,versicolor,virginica
0,setosa,5.1,3.5,1.4,0.2,0,0
1,setosa,4.9,3.0,1.4,0.2,0,0
2,setosa,4.7,3.2,1.3,0.2,0,0
3,setosa,4.6,3.1,1.5,0.2,0,0
4,setosa,5.0,3.6,1.4,0.2,0,0
5,setosa,5.4,3.9,1.7,0.4,0,0
6,setosa,4.6,3.4,1.4,0.3,0,0
7,setosa,5.0,3.4,1.5,0.2,0,0
8,setosa,4.4,2.9,1.4,0.2,0,0
9,setosa,4.9,3.1,1.5,0.1,0,0
10,setosa,5.4,3.7,1.5,0.2,0,0
11,setosa,4.8,3.4,1.6,0.2,0,0
12,setosa,4.8,3.0,1.4,0.1,0,0
13,setosa,4.3,3.0,1.1,0.1,0,0
14,setosa,5.8,4.0,1.2,0.2,0,0
15,setosa,5.7,4.4,1.5,0.4,0,0
16,setosa,5.4,3.9,1.3,0.4,0,0
17,setosa,5.1,3.5,1.4,0.3,0,0
18,setosa,5.7,3.8,1.7,0.3,0,0
19,setosa,5.1,3.8,1.5,0.3,0,0
20,setosa,5.4,3.4,1.7,0.2,0,0
21,setosa,5.1,3.7,1.5,0.4,0,0
22,setosa,4.6,3.6,1.0,0.2,0,0
23,setosa,5.1,3.3,1.7,0.5,0,0
24,setosa,4.8,3.4,1.9,0.2,0,0
25,setosa,5.0,3.0,1.6,0.2,0,0
26,setosa,5.0,3.4,1.6,0.4,0,0
27,setosa,5.2,3.5,1.5,0.2,0,0
28,setosa,5.2,3.4,1.4,0.2,0,0
29,setosa,4.7,3.2,1.6,0.2,0,0
30,setosa,4.8,3.1,1.6,0.2,0,0
31,setosa,5.4,3.4,1.5,0.4,0,0
32,setosa,5.2,4.1,1.5,0.1,0,0
33,setosa,5.5,4.2,1.4,0.2,0,0
34,setosa,4.9,3.1,1.5,0.2,0,0
35,setosa,5.0,3.2,1.2,0.2,0,0
36,setosa,5.5,3.5,1.3,0.2,0,0
37,setosa,4.9,3.6,1.4,0.1,0,0
38,setosa,4.4,3.0,1.3,0.2,0,0
39,setosa,5.1,3.4,1.5,0.2,0,0
40,setosa,5.0,3.5,1.3,0.3,0,0
41,setosa,4.5,2.3,1.3,0.3,0,0
42,setosa,4.4,3.2,1.3,0.2,0,0
43,setosa,5.0,3.5,1.6,0.6,0,0
44,setosa,5.1,3.8,1.9,0.4,0,0
45,setosa,4.8,3.0,1.4,0.3,0,0
46,setosa,5.1,3.8,1.6,0.2,0,0
47,setosa,4.6,3.2,1.4,0.2,0,0
48,setosa,5.3,3.7,1.5,0.2,0,0
49,setosa,5.0,3.3,1.4,0.2,0,0
50,versicolor,7.0,3.2,4.7,1.4,1,0
51,versicolor,6.4,3.2,4.5,1.5,1,0
52,versicolor,6.9,3.1,4.9,1.5,1,0
53,versicolor,5.5,2.3,4.0,1.3,1,0
54,versicolor,6.5,2.8,4.6,1.5,1,0
55,versicolor,5.7,2.8,4.5,1.3,1,0
56,versicolor,6.3,3.3,4.7,1.6,1,0
57,versicolor,4.9,2.4,3.3,1.0,1,0
58,versicolor,6.6,2.9,4.6,1.3,1,0
59,versicolor,5.2,2.7,3.9,1.4,1,0
60,versicolor,5.0,2.0,3.5,1.0,1,0
61,versicolor,5.9,3.0,4.2,1.5,1,0
62,versicolor,6.0,2.2,4.0,1.0,1,0
63,versicolor,6.1,2.9,4.7,1.4,1,0
64,versicolor,5.6,2.9,3.6,1.3,1,0
65,versicolor,6.7,3.1,4.4,1.4,1,0
66,versicolor,5.6,3.0,4.5,1.5,1,0
67,versicolor,5.8,2.7,4.1,1.0,1,0
68,versicolor,6.2,2.2,4.5,1.5,1,0
69,versicolor,5.6,2.5,3.9,1.1,1,0
70,versicolor,5.9,3.2,4.8,1.8,1,0
71,versicolor,6.1,2.8,4.0,1.3,1,0
72,versicolor,6.3,2.5,4.9,1.5,1,0
73,versicolor,6.1,2.8,4.7,1.2,1,0
74,versicolor,6.4,2.9,4.3,1.3,1,0
75,versicolor,6.6,3.0,4.4,1.4,1,0
76,versicolor,6.8,2.8,4.8,1.4,1,0
77,versicolor,6.7,3.0,5.0,1.7,1,0
78,versicolor,6.0,2.9,4.5,1.5,1,0
79,versicolor,5.7,2.6,3.5,1.0,1,0
80,versicolor,5.5,2.4,3.8,1.1,1,0
81,versicolor,5.5,2.4,3.7,1.0,1,0
82,versicolor,5.8,2.7,3.9,1.2,1,0
83,versicolor,6.0,2.7,5.1,1.6,1,0
84,versicolor,5.4,3.0,4.5,1.5,1,0
85,versicolor,6.0,3.4,4.5,1.6,1,0
86,versicolor,6.7,3.1,4.7,1.5,1,0
87,versicolor,6.3,2.3,4.4,1.3,1,0
88,versicolor,5.6,3.0,4.1,1.3,1,0
89,versicolor,5.5,2.5,4.0,1.3,1,0
90,versicolor,5.5,2.6,4.4,1.2,1,0
91,versicolor,6.1,3.0,4.6,1.4,1,0
92,versicolor,5.8,2.6,4.0,1.2,1,0
93,versicolor,5.0,2.3,3.3,1.0,1,0
94,versicolor,5.6,2.7,4.2,1.3,1,0
95,versicolor,5.7,3.0,4.2,1.2,1,0
96,versicolor,5.7,2.9,4.2,1.3,1,0
97,versicolor,6.2,2.9,4.3,1.3,1,0
98,versicolor,5.1,2.5,3.0,1.1,1,0
99,versicolor,5.7,2.8,4.1,1.3,1,0
100,virginica,6.3,3.3,6.0,2.5,0,1
101,virginica,5.8,2.7,5.1,1.9,0,1
102,virginica,7.1,3.0,5.9,2.1,0,1
103,virginica,6.3,2.9,5.6,1.8,0,1
104,virginica,6.5,3.0,5.8,2.2,0,1
105,virginica,7.6,3.0,6.6,2.1,0,1
106,virginica,4.9,2.5,4.5,1.7,0,1
107,virginica,7.3,2.9,6.3,1.8,0,1
108,virginica,6.7,2.5,5.8,1.8,0,1
109,virginica,7.2,3.6,6.1,2.5,0,1
110,virginica,6.5,3.2,5.1,2.0,0,1
111,virginica,6.4,2.7,5.3,1.9,0,1
112,virginica,6.8,3.0,5.5,2.1,0,1
113,virginica,5.7,2.5,5.0,2.0,0,1
114,virginica,5.8,2.8,5.1,2.4,0,1
115,virginica,6.4,3.2,5.3,2.3,0,1
116,virginica,6.5,3.0,5.5,1.8,0,1
117,virginica,7.7,3.8,6.7,2.2,0,1
118,virginica,7.7,2.6,6.9,2.3,0,1
119,virginica,6.0,2.2,5.0,1.5,0,1
120,virginica,6.9,3.2,5.7,2.3,0,1
121,virginica,5.6,2.8,4.9,2.0,0,1
122,virginica,7.7,2.8,6.7,2.0,0,1
123,virginica,6.3,2.7,4.9,1.8,0,1
124,virginica,6.7,3.3,5.7,2.1,0,1
125,virginica,7.2,3.2,6.0,1.8,0,1
126,virginica,6.2,2.8,4.8,1.8,0,1
127,virginica,6.1,3.0,4.9,1.8,0,1
128,virginica,6.4,2.8,5.6,2.1,0,1
129,virginica,7.2,3.0,5.8,1.6,0,1
130,virginica,7.4,2.8,6.1,1.9,0,1
131,virginica,7.9,3.8,6.4,2.0,0,1
132,virginica,6.4,2.8,5.6,2.2,0,1
133,virginica,6.3,2.8,5.1,1.5,0,1
134,virginica,6.1,2.6,5.6,1.4,0,1
135,virginica,7.7,3.0,6.1,2.3,0,1
136,virginica,6.3,3.4,5.6,2.4,0,1
137,virginica,6.4,3.1,5.5,1.8,0,1
138,virginica,6.0,3.0,4.8,1.8,0,1
139,virginica,6.9,3.1,5.4,2.1,0,1
140,virginica,6.7,3.1,5.6,2.4,0,1
141,virginica,6.9,3.1,5.1,2.3,0,1
142,virginica,5.8,2.7,5.1,1.9,0,1
143,virginica,6.8,3.2,5.9,2.3,0,1
144,virginica,6.7,3.3,5.7,2.5,0,1
145,virginica,6.7,3.0,5.2,2.3,0,1
146,virginica,6.3,2.5,5.0,1.9,0,1
147,virginica,6.5,3.0,5.2,2.0,0,1
148,virginica,6.2,3.4,5.4,2.3,0,1
149,virginica,5.9,3.0,5.1,1.8,0,1

## Using Titanic Dataset

In [47]:
def prep_titanic(df):
    '''
    Arguments: Titanic Dataframe
    Actions:
        1. Drops columns['class', 'deck', 'passenger_id']
        2. Fills null values for age with the mean age
        3. Fills null values for embark_town with most common occurinf values
        4. Created dummy variables for columns[embark_town, sex]
        5. Concatenated dummy variables to df
    Returns: one dataframe with changes
    '''
    # droping duplicates/not useful ones
    df = df.drop(columns=['class', 'deck', 'passenger_id'])
    
    # imputing
    df['age'] = df.age.fillna(df.age.mean())
    df['embark_town'] = df.embark_town.fillna('Southampton')
    
    # encoding
    df = pd.concat([df, pd.get_dummies(df[['embark_town', 'sex']], drop_first=True)], axis=1)
    
    return df

In [50]:
prep_titanic(get_titanic_data())

,survived,pclass,sex,age,sibsp,parch,fare,embarked,embark_town,alone,embark_town_Queenstown,embark_town_Southampton,sex_male
0,0,3,male,22.000000,1,0,7.2500,S,Southampton,0,0,1,1
1,1,1,female,38.000000,1,0,71.2833,C,Cherbourg,0,0,0,0
2,1,3,female,26.000000,0,0,7.9250,S,Southampton,1,0,1,0
3,1,1,female,35.000000,1,0,53.1000,S,Southampton,0,0,1,0
4,0,3,male,35.000000,0,0,8.0500,S,Southampton,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.000000,0,0,13.0000,S,Southampton,1,0,1,1
887,1,1,female,19.000000,0,0,30.0000,S,Southampton,1,0,1,0
888,0,3,female,29.699118,1,2,23.4500,S,Southampton,0,0,1,0
889,1,1,male,26.000000,0,0,30.0000,C,Cherbourg,1,0,0,1
890,0,3,male,32.000000,0,0,7.7500,Q,Queenstown,1,1,0,1

## Using Telco Dataset

In [66]:
df = get_telco_data()

In [37]:
# Checking all the data
df.info()

# Appears that there are no null data types
## Dtype concerns to address:
    ## check: total_charges == object
    ## 
## Column Drops:
    ## customer_id, monthly charges duplicates: check for samesness
    ## payment_type_id, internet_service_type_id, contract_type_id

In [6]:
# dropiing columns unuseful columns
df = df.drop(columns=['contract_type_id', 'payment_type_id', 'internet_service_type_id', ])

In [38]:
# mulitple columns appear more than once, reduce them all to one occurence
pd.DataFrame(df.columns.to_list()).value_counts() > 1

In [16]:
df['total_charges_1'] = df[['total_charges', 'monthly_charges']].iloc[:,0]

In [26]:
df['monthly_charges_1'] = df['monthly_charges'].iloc[:,0]

In [33]:
df['paperless_billing_1'] = df['paperless_billing'].iloc[:,0]

In [22]:
df = df.drop(columns=['total_charges', 'monthly_charges', 'paperless_billing', 'customer_id'])

In [43]:
# addressing dtype concerns
df['total_charges_1'] = (df['total_charges_1'] + '0').astype(float)

In [58]:
df_objects = []
for col in df:
    if df[col].dtype == 'O':
        df_objects.append(col)

In [64]:
df = pd.concat([df, pd.get_dummies(df[df_objects], drop_first=True)], axis=1)

In [74]:
def prep_telco(df):
    '''
    Arguments: telco df 
    Actions:
        1. Assigns contents of duplicate columns to new columns with different names
        2. Drops unnecessary columns including duplicate columns and primary/foreign key columns
        3. Change data type of column from object to float
        4. Create a list of columns with object data types
        5. Create dummy variables for all object type data types
        6. Concatenates dummay variabels to original dataframe
    Returns: telco df prepared to be split
    '''
    
    # Handle duplicate columns
    df['total_charges_1'] = df['total_charges'].iloc[:,0]
    df['monthly_charges_1'] = df['monthly_charges'].iloc[:,0]
    df['paperless_billing_1'] = df['paperless_billing'].iloc[:,0]
    
    # Drop unnecessary columns
    df = df.drop(columns=
                 ['total_charges', 'monthly_charges', 'paperless_billing',
                  'contract_type_id', 'payment_type_id', 'internet_service_type_id', 
                  'customer_id'])
    
    # Convert columns data type from object to float
    df['total_charges_1'] = (df['total_charges_1'] + '0').astype(float)
    
    # Create list of object type/categorical columns
    df_objects = []
    for col in df:
        if df[col].dtype == 'O':
            df_objects.append(col)

    # Create dummy variables and add them to the df
    df = pd.concat([df, pd.get_dummies(df[df_objects], drop_first=True)], axis=1)
    
    return df

In [81]:
prep_telco(df)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_movies_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,paperless_billing_1_Yes
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,...,0,0,1,0,0,0,0,0,1,1
1,Male,0,No,No,9,Yes,Yes,No,No,No,...,1,0,0,0,0,0,0,0,1,0
2,Male,0,No,No,4,Yes,No,No,No,Yes,...,0,1,0,0,1,0,0,1,0,1
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,...,1,1,0,0,1,0,0,1,0,1
4,Female,1,Yes,No,3,Yes,No,No,No,No,...,0,1,0,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,No,No,13,Yes,No,Yes,No,No,...,0,0,1,0,0,0,0,0,1,0
7039,Male,0,Yes,No,22,Yes,Yes,No,No,No,...,1,1,0,0,1,0,0,1,0,1
7040,Male,0,No,No,2,Yes,No,No,Yes,No,...,0,0,0,0,0,0,0,0,1,1
7041,Male,0,Yes,Yes,67,Yes,No,Yes,No,Yes,...,1,0,0,1,0,0,0,0,1,0
7042,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,...,1,0,0,1,0,0,0,1,0,0

In [26]:
def split_data(df, target=None):
    '''
    Arguments: prepared dataframe, optional target - must be a string literal
    Actions: 
        1. Splits the dataframe with 80% of the data assigned to tv and 20% assigned to test
        2. Splits the tv dataset with 70% of tv assigned to train and 30% assigned to validate
    Returns: 3 variables, each containing a portion
    Note: Order matters with variable assignment
    '''
    # splitting df 80/20 
    
    if target == None:
        train_validate, test = train_test_split(df, train_size=.8, random_state = 1017,
                stratify = target)
    else:
        train_validate, test = train_test_split(df, train_size=.8, random_state = 1017,
                stratify = df[target])
    
    # splitting train_validate 70/30
    train, validate = train_test_split(train_validate, train_size=.7, random_state = 1738)
    
    return train, validate, test

In [85]:
train, validate, test = split_data(prep_telco(df))

In [92]:
train.shape[0] + validate.shape[0] + test.shape[0] == prep_telco(df).shape[0]

True

In [89]:
test

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_movies_Yes,churn_Yes,contract_type_One year,contract_type_Two year,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,paperless_billing_1_Yes
1324,Female,0,No,No,35,Yes,Yes,No internet service,No internet service,No internet service,...,0,0,0,1,0,1,0,0,0,0
1896,Female,1,No,No,8,Yes,Yes,No,No,No,...,1,0,0,0,1,0,1,0,0,1
6254,Female,0,Yes,Yes,67,Yes,Yes,Yes,No,Yes,...,1,0,1,0,1,0,0,1,0,1
2530,Female,0,Yes,No,57,No,No phone service,Yes,No,Yes,...,1,0,0,0,0,0,0,0,0,1
6161,Male,0,No,No,37,No,No phone service,No,No,No,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4133,Male,0,Yes,Yes,35,Yes,No,No internet service,No internet service,No internet service,...,0,0,0,1,0,1,0,0,1,0
4303,Male,0,Yes,Yes,23,Yes,No,Yes,No,No,...,0,0,1,0,0,0,1,0,0,0
2048,Male,0,Yes,Yes,17,Yes,No,No,No,No,...,0,1,0,0,1,0,0,1,0,0
6485,Male,0,Yes,No,14,Yes,Yes,No,No,No,...,1,1,0,0,1,0,0,1,0,1
5952,Male,0,No,Yes,25,Yes,No,No,Yes,No,...,1,1,0,0,1,0,0,1,0,1

# Testing the Prepare.py

In [5]:
from prepare import prep_iris, prep_telco, prep_titanic, split_data

> Iris

In [6]:
train_iris, validate_iris, test_iris = split_data(prep_iris(get_iris_data()))

In [11]:
train_iris.shape[0], validate_iris.shape[0], test_iris.shape[0]

(84, 36, 30)

> Titanic

In [25]:
train_titanic, validate_titanic, test_titanic = split_data(prep_titanic(get_titanic_data()), target='survived')

In [15]:
train_titanic.shape[0], validate_titanic.shape[0], test_titanic.shape[0]

(498, 214, 179)

> Telco

In [16]:
train_telco, validate_telco, test_telco = split_data(prep_telco(get_telco_data()))

In [17]:
train_telco.shape[0], validate_telco.shape[0], test_telco.shape[0]

(3943, 1691, 1409)